@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@media (min-width: 1024px){
    html{
        font-size: 16px;
    }
}

@media (min-width: 1280px){
    html{
        font-size: 18px;
    }
}

@media (min-width: 1536px){
    html{
        font-size: 20px;
    }
}

.footerLi{
    @apply text-sm text-gray-400 hover:text-blue-500 mb-2;
}

@font-face {
    font-family: 'BananaYeti';
    src: url('./assets/fonts/BananaYeti.woff2') format('woff2'),
        url('./assets/fonts/BananaYeti.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}