#upperFooterBgImg{
    z-index: 0;
    background-image: url(/img/transparent_bubble.webp);
    background-position: center;
    background-repeat: repeat;
    background-clip: border-box;
    opacity: 30%;
}