#Home {
    background-image: url(/img/HomeBg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.HomeMainText {
    font-family: 'BananaYeti', sans-serif;
    font-size: 4rem;
}

@media (max-width: 768px) {
    .HomeMainText {
        font-size: 4rem;
    }
}

@keyframes SlideUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

#HomeCat{
    animation: SlideUpDown 2s ease-in-out infinite;
}